We Using **Print()** for displaying outputs. But, there are some forms of using it.

### **Form-1** 
**print()** without any argument--> just print newline character

In [1]:
print("We just try to print something!!!")

We just try to print something!!!

### **Form-2**
printing string type with operand

In [2]:
print(4*"Hello")
print()
print("Hello"+"World")
print()
print("Hello","World")

HelloHelloHelloHello

HelloWorld

Hello World

### **Form-3**
**print()** with variable number of arguments

In [3]:
akad,bakad,bambay,boo=10,20,30,40
print("The values are:",akad,bakad,bambay,boo)

The values are: 10 20 30 40

### **Form-4**
**print()** with end attribute

In [4]:
print("HELLO"+" "+"WORLD",end='')

HELLO WORLD

### **Form-5**
**print(obj)** statements

In [5]:
list_1=[10,20,30,40,50]
t=(10,20,30,40)
print(list_1)
print(t)

[10, 20, 30, 40, 50]
(10, 20, 30, 40)

### **Form-6**
**print(String, variable list)** with end attribute

In [6]:
string_1='Shivansh'
number=7201
str_1="Java"
str_2="Python"
print("Hello",string_1,"My favourite number is",number)
print()
print("I have Core Compatamcy in",str_1,"And",str_2)

Hello Shivansh My favourite number is 7201

I have Core Compatamcy in Java And Python

### **Form-7**
**print(formatted String)** 
%i--> int
%d--> int
%f-->float
%s--> String type

In [9]:
#  print("Formatted string" %(variable list))

ekka=10
dukka=20
teeka=30
print("Ekka value is %i" %ekka )
print()
print("dukka value is %d and teeka value is %d" %(dukka,teeka))

Ekka value is 10

dukka value is 20 and teeka value is 30

### **Form-8**
**print()** with replacement operator {}

In [11]:
name="Shivansh"
salary_expected=10000000
gf="She won't think about it!!!"
print("Hello {0} your salary is {1} and hope your future {2} will agree\n".format(name,salary_expected,gf))
print("Hello {x} your salary is {y} and your future {z} will agree".format(x=name,y=salary_expected,z=gf))

Hello Shivansh your salary is 10000000 and hope your future She won't think about it!!! will agree

Hello Shivansh your salary is 10000000 and your future She won't think about it!!! will agree